@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
/* styles.css */
body, html, #root, canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
